@use "variables" as v;
@use "mixins" as m;

.taskInputContainer {
  position: relative;
  width: 100%;

  #newTask {
    @include m.boxStyle;
    width: 540px;
    padding: 15px 25px 15px 59px;
    font-size: v.$fontSize;
    border: none;
    color: v.$darkGrayishBlueLight;
    outline: none;
  }
}

.tasksContainer {
  @include m.boxStyle;

  .task {
    @include m.task;
    width: 540px;

    .customCheckbox {
      cursor: pointer;
      @include m.circle();
    }
  }

  .taskCompleted {
    @extend .task;
    text-decoration: line-through;
    color: v.$darkGrayishBlueLight;

    .customCheckbox {
      @include m.circle(v.$checkBackground, transparent);
      background-clip: padding-box;

      &::after {
        content: "";
        background: url("../../images/icon-check.svg") no-repeat center;
        background-size: contain;
        position: absolute;
        width: 50%;
        height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.tasksFilters {
  color: v.$veryDarkGrayishBlueLight;
  width: 100%;
  padding: 15px 20px;
  @include m.flex(row, space-between, center);

  .tasksButton {
    background: transparent;
    border: none;
    font-family: v.$fontPrimary;
    color: v.$veryDarkGrayishBlueLight;
    cursor: pointer;
    &:hover {
      color: v.$brightBlue;
    }
  }
  & p {
    font-size: 14px;
  }
  #clearButton {
    font-size: 14px;
  }
}

#bottomTasksButtons {
  @include m.flex(row, space-between, center);
  gap: 15px;

  .tasksButtonsPrincipals {
    font-weight: v.$fontWeightBold;
    font-size: 14px;
  }
}

#mobileButtonsContainer {
  display: none;
  gap: 15px;
  padding: 15px;
  margin-top: 24px;
  width: 330px;
  @include m.boxStyle;

  .tasksButton {
    background: transparent;
    border: none;
    font-family: v.$fontPrimary;
    color: v.$veryDarkGrayishBlueLight;
    cursor: pointer;
    &:hover {
      color: v.$brightBlue;
    }
  }

  .tasksButtonsPrincipals {
    font-weight: v.$fontWeightBold;
    font-size: 14px;
  }
}

#bottomText {
  margin: 45px auto;
  font-size: 14px;
  color: v.$veryDarkGrayishBlueLight;
}
